.App-Dark {
  /* display */
  display: flex;
  flex-direction: column;
  align-items: center;
  /* Dimentions */
  width: calc(100vw - 20px);
  max-width: 2000px;
  height: calc(100vh - 110px);
  padding: 10px;
  /* Colors */
  background-color: #262626;
  color: white;
  font-family: sans-serif;
  padding-top: 100px;
}