.App-Dark {
  outline: 3px dashed pink;
  /* display */
  display: flex;
  flex-direction: column;
  align-items: center;
  /* Dimentions */
  width: calc(100vw - 20px);
  max-width: 1500px;
  height: calc(100vh - 20px);
  padding: 10px;
  /* Colors */
  background-color: #262626;
  color: white;
  font-family: sans-serif;
}