body{ 
  margin: 0px;
  display: flex;
  justify-content: center;
  background-color: #262626;
}

/* THEMES */

/* Dark */
/* background #262626; */
/* Button #FF8535 */
/* text white */
/* text2 595959 */