.CVpageMobile {

    /* outline: 3px dashed white; */
    width: 100%;
    height: 100%;
    overflow: scroll;
    scroll-snap-type: y mandatory;


}

.scrollpage {
    position: relative;
    /* outline: 1px solid pink; */
    height: 100%;
    scroll-snap-align: start;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Mobile-Scrollpage-Date {
    position: fixed;
    top: 110px;
    color: #404040;
    font-size: 7rem;
}
.TEST{ 
    position: absolute;
    top: 0px;
    color: #404040;
    font-size: 7rem;
}

.Mobile-Scrollpage-Content {
    font-size: 1rem;
    border-radius: 10px;
    position: fixed;
    width: 80%;
    height: fit-content;
    padding: 20px;
    margin-top: 100px;
    background-color: none;
    opacity: 0;
    animation: scaleAnimation 1000ms ease-in forwards;
    z-index: 0;
    pointer-events: none;
    display: flex;
    flex-direction: column;
    align-items: left;

}

.Download-CV-BTN{ 
    background-color: #FF8535;
    border: none;
    border-radius: 25px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;;
    color: black;
    font-size: 0.8rem;
    margin-top: 60vh;
}
.Download-CV-BTN:hover{ 
    color: white;


}


.MSC-Title {
    padding: 10px;
    padding-bottom: 20px;
    font-weight: bold;
    font-size: 24px;
}

.MSC-Body {
    padding: 10px;
    font-size: 16px;
}

.MSC-Scroll-Indicator {
    align-self: center;
    max-width: 50px;
    animation: bounceRotate 2s ease infinite;
}

.MSC-UL{ 
    padding-inline-start: 20px;
}
.MSC-LI{ 
    padding-top: 5px;
}

@keyframes bounceRotate {
    0%, 100% {
        transform: translateY(0) rotate(180deg); /* Initial and final state, with rotation */
    }
    25%, 75% {
        transform: translateY(-20px) rotate(180deg); /* Bounce with rotation */
    }
    50% {
        transform: translateY(0) rotate(180deg); /* Midpoint reset with rotation */
    }
}

@keyframes scaleAnimation {
    0% {

        /* start scaled up */
        opacity: 0;
        /* low opacity */
    }

    100% {

        /* end normal size */
        opacity: 1;
        /* full opacity */
    }
}


.Mobile-Date {
    opacity: 0;
    /* Initially invisible */
    animation: fadeIn 0.5s ease forwards;
    /* Animation name, duration, timing function, and fill mode */
}

@keyframes fadeIn {
    from {
        opacity: 0;
        /* Start from invisible */
    }

    to {
        opacity: 1;
        /* Fade in to fully visible */
    }
}