.Homepage {
    min-height: 300px;
    width: 100%;
    height: 100%;
    max-width: 2000px;
    /* display */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

/* LEFT  */
.HP-Left-Container {
    /* outline: 1px dashed red; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
    overflow: hidden;
    position: relative;
}
.HP-Left-Container:hover .Stack-Img1 {
    margin-bottom: 200px; /* Adjust the margin value as per your requirement */
}
.HP-Left-Container:hover .Stack-Img2 {
    margin-bottom: 100px; /* Adjust the margin value as per your requirement */
}

.Stack-Img1,
.Stack-Img2,
.Stack-Img3 {
    max-width: 500px;
    max-height: 100%;
    position: absolute;
    opacity: 0;
    animation: appearAndMoveDown 1s ease forwards;
    transition: margin 0.5s ease; /* Added transition for margin */
}

.Stack-Img1 {
    margin-bottom: 150px;
    animation-delay: 1s;
}

.Stack-Img2 {
    margin-bottom: 75px;
    animation-delay: 0.5s;
}



@keyframes appearAndMoveDown {
    0% {
        opacity: 0;
        transform: translateY(-50px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.Slogan-Text {
    /* outline: 1px dashed pink; */
    color: #4f4f4f;
    font-size: 2rem;
    text-align: center;
    position: absolute;
    top: 75%;
    opacity: 0;
    animation: appear 1s ease forwards;
    animation-delay: 1s;
}

@keyframes appear {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}




/* RIGHT */

.HP-Right-Container {

    /* outline: 1px dashed red; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 50%;
    height: 100%;
    overflow: hidden;
}


.HP-Img {
    /* outline: 1px dashed pink; */
    max-width: 500px;
    max-height: 100%;
}


/* AMINATIONS */

/* Media Query for Portrait Mode */
@media (orientation: portrait) {
    .Homepage {
        flex-direction: column-reverse;
    }

    .HP-Left-Container {
        flex-direction: column-reverse;
        width: 100%;
        height: 50%;
        max-width: 100%;
        max-height: 50%;
        overflow: hidden;
    }

    .HP-Right-Container {
        width: 100%;
        height: 50%;
        max-width: 100%;
        max-height: 50%;
        overflow: hidden;
    }
}