.Projectpage {
    padding-top: 50px;;
    width: 100%;
    max-width: 1250px;
    height: calc(100vh - 200px);
    color: rgb(168, 168, 168);
    display: flex;
    flex-direction: column;
    align-items: center;
    /* position: absolute; */
    gap: 50px;

    overflow-y: scroll;
    overflow-x: hidden;
}

.Project-Container-Odd {
    /* outline: 1px dashed blue; */
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    /* overflow: hidden; */
    gap: 10px;
    transform: translate(90%);
    transition: 600ms;
}

.Project-Container-Odd-Showing {
    /* outline: 1px dashed blue; */
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    /* overflow: hidden; */
    gap: 10px;
    transform: translate(0%);
    transition: 600ms;
}

.Project-Container-Even {
    /* outline: 1px dashed blue; */
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    /* overflow: hidden; */
    gap: 10px;
    transform: translate(-90%);
    transition: 600ms;
}

.Project-Container-Even-Showing {
    /* outline: 1px dashed blue; */
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    /* overflow: hidden; */
    gap: 10px;
    transform: translate(0%);
    transition: 600ms;
}



.Project-Card {
    /* outline: 1px dashed pink; */
    /* border: 1px solid #FF8535; */
    background-color: #ff863520;
    border-radius: 10px;
    ;
    min-width: 200px;
    min-height: 200px;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

}

.Project-Card-Title {}

.Project-Card-Icon {}

.Project-Card-BTN-Div {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}

.Project-Card-Code-BTN {
    background-color: inherit;
    border: 1px solid #FF8535;
    border-radius: 25px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    ;
    color: white;
    font-size: 1rem;
}

.Project-Card-Code-BTN:hover {
    cursor: pointer;
}

.Project-Card-Preview-BTN {
    background-color: #FF8535;
    border: none;
    border-radius: 25px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    ;
    color: white;
    font-size: 1rem;
}

.Project-Card-Preview-BTN:hover {
    cursor: pointer;
}

.Project-Text {
    /* outline: 1px solid green; */
    padding: 10px;
    max-width: 500px;
    gap: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.Framework-Icons-Container {
    display: flex;
    width: 100%;
    gap: 10px;

}

.Framework-Icon {
    max-width: 30px;
    filter: grayscale(100%);
}